@model IEnumerable<PMS_EFCodeFirst.EF.Models.Product>

@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>

<p>
    @Html.ActionLink("Add More Products", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th></th>
    </tr>
@{ 
    double total = 0;
}
@foreach (var item in Model)
{
    total += item.Price * item.Qty;
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
           
        </td>
    </tr>
}
    <tr>
        <th>Total</th>
        <th>@total</th>
        <td>
            <a href="/Order/PlaceOrder" class="btn btn-danger">Place Order</a>
        </td>
    </tr>
</table>
